/* --- ESTILOS PARA EL HEADER Y NAV  --- */

header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 15px; 
  background-color: #00352F;
  width: 100%;
  height: 8vh;
  position: fixed;
   z-index: 1050;
}

.navbar {
    padding: 0; 
}

.logo a{
  text-decoration: none;
  color: #CEDC00;
}

.nav-link{
    color: #F2F2F2;
}

.nav-link:hover{
  color: #CEDC00;
}

/* --- MAIN --- */
.main-section {
  display: flex;
  flex-direction: row; 
  height: 60vh; 
  width: 100%;
  overflow: hidden; 
}


.left {
  background-color: #CEDC00;
  padding: 50px;
  color: #00352F;
  margin-top: 50px;
  align-items: center;
}

.right { 
  background-color: #00594F;
  display: flex;
  align-items: center;
  justify-content: center;
}


.imageLourdes{
  height: 15vw; 
  top: 50%;
  left: 50%;
}
.overlay-image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 10px;
} 

section{
  height: 50vh;
}

.skills{
  display: flex;
  flex-direction: row;
  background-color: #00352F;
  color: #CEDC00;
}

.workExperience{
  background-color: #00594F;
  height: auto;
  color: #CEDC00;
}
.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.card-title {
  color: #00352F;
  font-weight: bold;
}

.card ul {
  padding-left: 1rem;
}
.educationalTraining{
  background-color: #CEDC00;
  color: #00352F;
}

footer{
  text-align: center;
  background-color: #00352F;  
  color: #CEDC00;
  padding: 1% 0%;
}
